body{
    font-family: 'Roboto', sans-serif;
}
.container{
  border-radius: 10px;
  margin-bottom: 100px;
}
.orenge-bg{
    background-color: #FEEAE9;
    padding: 50px 82px 85px 90px;
    border-radius: 10px;
    height: 450px;
}
.price{
    width: 115px;
    height: 40px;
    color: #FF136F;
    left: 336px;
    top: 560px;
}
.buy-now{
   background-image: linear-gradient(to bottom,#FF535B 0%, #FF136F 100%
   );
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
}
.cat1{
    background-color: #FFB428;
}
.cat2{
    background-color: #FF4790;
}
.cat3{
    background-color: #4168FD;
}
.categories{
    width: 100px;
   
}
.margin-top{
    margin-top: 100px;
}
.card{
    box-shadow: 20px 15px 30px;
}
.contact{
    height: 300px;
}
.input{
    width: 240px;
    height: 50px;
    border-radius: 5px;
    padding: 2px 5px;
    font-weight: 800px;
    color: #FF136F;
    font-size: 20px;
    
}
footer{
    text-align: center;
}
#logo{
    width: 50px;
    margin-right: 10px;
}
.bg-l{
    color: turquoise;
}
